<launch>
    <arg name="prefix" default=""/>
    <arg name="namespace" default="omniEthernet" />
    <arg name="type" default="ethernet" />

    <arg name="teleop_master" value="false" />
    <arg name="teleop_remap" default="/omniFirewire/teleop" />

    <include file="$(find omni_driver)/launch/omni.launch" pass_all_args="true" />

</launch>
