<launch>
    <arg name="namespace" default="omni" />

    <include file="$(find omni_driver)/launch/omni.launch" pass_all_args="true" />

    <group ns="$(arg namespace)">
        <node name="controller" pkg="omni_controller" type="omni_controller">
        </node>

        <node name="joy" pkg="joy" type="joy_node">
        </node>
    </group>
 	
</launch>
